/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#tree.gj-tree-bootstrap-3 ul.gj-list-bootstrap li {
    background-color: #666;
    color: lightgray;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin: 0;
}

.well {
    background-color: lightslategray;
    margin: 0;
    border: none;
    border-radius: 0;
}

[ng-cloak] {
    display: none;
}

.input-group .form-control {
    background-color: lightgray;
}

form .ng-dirty {
    border-radius: 5px;
    box-shadow: 0 0 3px 3px gold;
}

    form .ng-dirty.ng-invalid, form .ng-invalid {
        box-shadow: 0 0 3px 3px red;
    }

form.ng-dirty, form.ng-invalid {
    border: none;
    box-shadow: none;
}

form fieldset {
    border: none;
}

form .input-group {
    margin-bottom: 20px;
}

ul.gj-list.gj-list-bootstrap.list-group {
    margin: 10px;
}

.st-value {
    font-size: 20px;
}